<div *ngIf="mode=='client'" class="top-header ">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <!-- email -->
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center m-r-10">
          <i-tabler name="phone" class="icon-18 m-r-4 text-primary"></i-tabler>
          <a href="tel:+33 651000000" class="text-decoration-none f-s-10 f-w-700 text-accent">+33 651000000</a>
        </div>
        <div class="d-flex align-items-center">
          <i-tabler name="mail" class="icon-18 m-r-4 text-primary"></i-tabler>
          <a href="mailto:omranesadok33@gmail.com" class="text-decoration-none f-s-10 f-w-700 text-accent">{{'omranesadok33@gmail.com'}}</a>
        </div>
      </div>
      <!-- login button -->
      <a *ngIf="!me" routerLink="/authentication/login" mat-flat-button color="primary" class="login-btn p-x-24 p-y-0">
        <span class="f-s-12 f-w-400">Login</span>
      </a>
      <a *ngIf="me"  color="primary" mat-stroked-button class="login-btn p-x-24 p-y-0" (click)="logout()">
        <span class="f-s-12 f-w-400">Logout</span>
      </a>
    </div>
  </div>
</div>
<mat-toolbar
  [ngClass]="mode=='client' ? 'topbar container m-auto' : 'topbar'">
    <!-- Logo -->
    <app-branding *ngIf="mode=='client' || (mode=='admin') && !showToggle"></app-branding>

    <span class="flex-1-auto"></span>
    <ul class="nav-list" *ngIf="mode=='client' && !isOver">
      <li class="nav-item" *ngIf="me">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Projects</a>
      </li>
      <li class="nav-item">
        <a routerLink="/client/contact" routerLinkActive="active">Contact us</a>
      </li>
      <li class="nav-item" *ngIf="pageContents && pageContents.length > 0">
        <a mat-flat-buttoncolor="primary" [matMenuTriggerFor]="menu" class="d-flex align-items-center" >More <i-tabler name="caret-down" class="icon-16 d-flex align-items-center m-l-4"></i-tabler></a>
      </li>
      <mat-menu #menu="matMenu" class="cardWithShadow">
        @for(pageContent of pageContents; track pageContent.id ) {
          <a routerLink="/client/page-content" [queryParams]="{id: pageContent.id}" mat-menu-item>{{pageContent.title}}</a>
        }
      </mat-menu>
    </ul>

    <span *ngIf="me && mode=='admin'" class="app-user-name">{{me.name}}</span>

    <button *ngIf="me && mode=='admin'"  mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications">
      <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="35" />
    </button>
    <mat-menu #profilemenu="matMenu" class="cardWithShadow">
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon>My
        Profile
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon>My
        Account
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="list-check"
            class="icon-18 d-flex"></i-tabler></mat-icon>My Task
      </button>

      <div class="p-x-12 m-t-12">
        <a (click)="logout()" mat-stroked-button color="primary" class="w-100">
          <span *ngIf="!isLoading">Logout</span>
          <mat-spinner *ngIf="isLoading" diameter="20" class="m-l-12"></mat-spinner>
        </a>
      </div>
    </mat-menu>

    <button *ngIf="me && mode=='admin'"  mat-icon-button aria-label="Notifications">
      <i-tabler class="d-flex" name="bell" matBadge="1" matBadgeColor="primary"></i-tabler>
    </button>

    <!-- Mobile Menu -->
    <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex d-md-none justify-content-center">
      <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
    </button>
</mat-toolbar>
