<div class="container m-t-64 m-b-64">
  <h2 class="text-center m-b-30">Contact</h2>
  <p class="f-s-12 f-w-300 text-center m-b-30 m-t-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br>Quos culpa explicabo maxime, aspernatur nobis eaque modi fugiat iste laudantium doloremque fuga odit odio commodi velit tempora!</p>
  <div class="row m-b-32">
    <div class="col-lg-4 d-flex m-y-10 justify-content-center align-items-center">
      <a href="tel:+33 06 51 05 95 29" mat-mini-fab color="primary" class="icon-30 m-r-8" matTooltip="Voir le project">
        <i-tabler name="phone" class="icon-18"></i-tabler>
      </a>
      <div>
        <span class="d-block f-s-14 f-w-600">Telephone</span>
        <a href="tel:+33 06 51 05 95 29" class="text-primary f-w-500 text-decoration-none ">+33 06 51 05 95 29</a>
      </div>
    </div>
    <div class="col-lg-4 d-flex m-y-10 justify-content-center align-items-center">
      <a href="mailto:omranesadok33@gmail.com" mat-mini-fab color="primary" class="icon-30 m-r-8" matTooltip="Voir le project">
        <i-tabler name="mail" class="icon-18"></i-tabler>
      </a>
      <div>
        <span class="d-block f-s-14 f-w-600">Mail</span>
        <a href="mailto:omranesadok33@gmail.com" class="text-primary f-w-500 text-decoration-none ">{{'omranesadok33@gmail.com'}}</a>
      </div>
    </div>
    <div class="col-lg-4 d-flex m-y-10 justify-content-center align-items-center">
      <a href="tel:+33 06 51 05 95 29" mat-mini-fab color="primary" class="icon-30 m-r-8" matTooltip="Voir le project">
        <i-tabler name="map-pin" class="icon-18"></i-tabler>
      </a>
      <div>
        <span class="d-block f-s-14 f-w-600">Location</span>
        <a href="https://maps.app.goo.gl/UjboSPdxxV8zEwPF8" class="text-primary f-w-500 text-decoration-none ">Paris, France</a>
      </div>
    </div>
  </div>
  <form class="col-lg-8 m-auto">
    <div class="row">
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-4 d-block">Nom complet</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput placeholder="votre nom et prénom" />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-4 d-block">Email</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="email" placeholder="votre email" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-label class="f-w-600 m-b-4 d-block">Message</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <textarea matInput placeholder="votre message" rows="4"></textarea>
        </mat-form-field>
      </div>
    </div>
    <button mat-flat-button color="primary" class="p-x-48 p-y-23">Envoyer</button>
  </form>
</div>


<!--

-->
