<!--Footer-->
<div class="footer">
  <div class="footer-content container">
    <!--Contact-->
    <div>
      <h4>Contact</h4>
      <ul>
        <li>
          <i-tabler name="mail" class="icon-18 m-r-4"></i-tabler>
          <a href="mailto:omranesadok33@gmail.com">{{'omranesadok33@gmail.com'}}</a>
        </li>
        <li>
          <i-tabler name="phone" class="icon-18 m-r-4"></i-tabler>
          <a href="tel:+216 55 555 555">+216 55 555 555</a>
        </li>
        <li>
          <i-tabler name="map-pin" class="icon-18 m-r-4"></i-tabler>
          <a href="https://maps.app.goo.gl/smAKqFRsmZ2cgouQ9" target="_blank">Adresse de l'association</a>
        </li>
      </ul>
    </div>
    <!--Pages-->
    <div>
      <h4>Pages</h4>
      <ul>
        <li>
          <a routerLink="/client/projects" routerLinkActive="active">{{'Projets'}}</a>
        </li>
        <li>
          <a routerLink="/client/contact" routerLinkActive="active">{{'Contact'}}</a>
        </li>
        <li>
          <a routerLink="/client/about" routerLinkActive="active">{{'À Propos'}}</a>
        </li>
        <li>
          <a routerLink="/client/faq" routerLinkActive="active">{{'FAQ'}}</a>
        </li>
        <li>
          <a routerLink="/client/terms" routerLinkActive="active">{{'Conditions d\'utilisation'}}</a>
        </li>
        <li>
          <a routerLink="/client/privacy" routerLinkActive="active">{{'Politique de confidentialité'}}</a>
        </li>
      </ul>
    </div>

    <!--Social Media-->
    <div>
      <h4>Réseaux Sociaux</h4>
      <ul>
        <li>
          <i-tabler name="brand-instagram" class="icon-18 m-r-4"></i-tabler>
          <a href="https://www.instagram.com/">Instagram</a>
        </li>
        <li>
          <i-tabler name="brand-twitter" class="icon-18 m-r-4"></i-tabler>
          <a href="https://www.twitter.com/">Twitter</a>
        </li>
        <li>
          <i-tabler name="brand-linkedin" class="icon-18 m-r-4"></i-tabler>
          <a href="https://www.linkedin.com/">LinkedIn</a>
        </li>
      </ul>
    </div>
    <!--LOGO-->
    <h1 class="logo-text text-white">Logo</h1>
  </div>
</div>